<form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
    
    <mat-form-field appearance="legacy">
        <mat-label>Поиск</mat-label>
        <input matInput  maxlength="360" id="searchInput" type="text" formControlName="search">
    </mat-form-field>
    
    <mat-form-field appearance="legacy">
        <mat-label>Сортировать по</mat-label>
        <mat-select id="sortByIpnut" formControlName="sortBy">
            <mat-option *ngFor="let sortBy of sortByList" [value]="sortBy">
              {{sortBy}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Сортировать по</mat-label>
        <mat-select id="sortByFieldIpnut" formControlName="sortByField">
            <mat-option *ngFor="let sortByField of sortByFieldList" [value]="sortByField">
                {{sortByField}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-slide-toggle *ngIf="authorized" [color]="sliderColor" formControlName="onlySubs">Только подписки</mat-slide-toggle>

    <div class="btn-container">
        <button mat-button class="button" type="submit">Применить</button>
        <button mat-button class="button" (click)="clearFilter()">Сбросить</button>
    </div>
</form>
