.outer {
    display: grid;
    margin: 40px auto;
    max-width: 765px;
    min-width: 765px;
    grid-template-areas:
    "A A A A   B B B B   B B B B"
    "A A A A   C C C C   C C C C"
    "A A A A   D D D D   D D D D"
    "A A A A   E E E E   E E E E"
    "F F F F   F F F F   F F F F"
    "G G G G   G G G G   G G G G";

    .avatar{
        grid-area: A;
        width: 255px;
        margin-bottom: 20px;
        img {
            border-radius: 100%;
            width: 255px;
            height: 255px;
        }
        #ava {
            display: none;
        }
        .current-avatar {
            cursor: pointer;
            display: block; 
            position: relative;
            border-radius: 100%;
        }
        .current-avatar:before { 
            content: ''; 
            position: absolute; 
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0; 
            background: rgba(0,0,0,.5);
            border-radius: 100%;  
            opacity: 0; 
        }
        .current-avatar:after { 
            content: '';
            position: absolute; 
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0; 
            background: url(/assets/images/edit-icon.png); 
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
        }

        .current-avatar:hover:before,
        .current-avatar:hover:after { opacity: 1; }
    }
    .name{
        grid-area: B;
        font-size: 24pt;
        text-align: center;
    }
    .login{
        grid-area: C;
        text-align: center;
    }
    .stats{
        grid-area: D;
        .stats-icon{
            display: flex;
            justify-content: space-between;  
            margin-top: 10px;
            div {
                display: flex;
            }
        }
    }
    .button{
        grid-area: E;
        button {
            width: 100%;
            background-color: #A70606;
            border: none;
            height: 50px;
            color: white;
            border-radius: 97px;
        }
    }
    .description{
        grid-area: F;
        max-width: 765px;
        word-wrap: anywhere;
        .label {
            font-size: 24pt;
        }
        .is-hide {
            display: none;
        }
        .description-container {
            margin-top: 20px;
            max-width: 765px;
            min-width: 765px;
            border: 1px solid #C8C8C8;
            box-sizing: border-box;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
            form {
                display: flex;
                flex-direction: column;
                padding: 10px;
                button {
                    max-width: 150px;
                    align-self: end;
                    background-color:rgba(0, 0, 0, 0.07)
                }
            }
        }
    }
    .news-list{
        grid-area: G;
    }
}
.add-material{
    position: fixed;
    bottom: 10px;
    button {
        width: 50px;
        height: 50px;
        background-color: #A70606;
        background-image: url(/assets/images/plus.png);
        background-size: cover;
        border: none;
        color: white;
        border-radius: 97px;
    }
}
