{% extends 'admin/master.html' %}

{% block body %}

    {% if not is_authenticated %}
        {% if error %}
            Введен неверный логин или пароль
        {% endif %}
        <form method="POST" action="">
            <input class="" type="text" placeholder="Username or email" name="login">
            <input class="" type="password" placeholder="Password" name="password">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    {% else %}
    <form method="GET" action="logout">
        <button class="btn btn-primary" type="submit">Выйти</button>
    </form>
    {% endif %}
    
{% endblock %}